.header-outer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 800px;
  max-height: 50px;
  background-color: #17C3B2;
}

.header-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  width: 90%;
}

.changeGame, .settings {
  display: flex;
  justify-content: space-around;
  align-items: right;
  font-size: 12px;
  margin: 0px;
  padding: 10px;
}

.settings {
  margin: 0px 10px;
}